{% extends 'base.html' %}

{% block content %}
    <h2>{{ actionTitle }}</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        <table width="350">
            <tr>
                <td align="right" width="70">{{ form.id.label }}</td>
                <td>{{ form.id(size=5) }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.name.label }}</td>
                <td>
                    {{ form.name(size=30) }}
                    {% for error in form.name.errors %}
                        <br><small><span style="color: red;">[{{ error }}]</span></small>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td align="right">{{ form.price.label }}</td>
                <td>{{ form.price(size=5) }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.isbn.label }}</td>
                <td>
                    {{ form.isbn(size=5) }}
                    {% for error in form.isbn.errors %}
                        <br><small><span style="color: red;">[{{ error }}]</span></small>
                    {% endfor %}
                </td     </tr>
            <tr>
                <td align="right">{{ form.isObsolete.label }}</td>
                <td>{{ form.isObsolete }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.bookType.label }}</td>
                <td>{{ form.bookType(size=5) }}</td>
            </tr>
        </table>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}