body {
    font-family: verdana, arial, helvetica, sans-serif;
	font-size: 16px;
}

p, li, th, td, ol, ul, dl, a, blockquote, body { 
    color: black;
}

h1, h2, h3 {
	color: gray;
}

a {
	text-decoration: none;
	font-weight: bolder;
}
a:link { color: steelblue;}
a:visited {color: steelblue;}
a:hover { background-color: lightgray;}

em {
	color: red;
}

ul {
	list-style-type:none;
}

td {
	padding-right: 5px;
}

.top-header {
	padding-top: 3px;
}

.sub-header {
	margin-top: 8px;
}

.external-link {
	background-image: url(/static/external.svg);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 15px
}

.indent {
	padding-left: 10px;
}

.link-button {
	background-color: white;
	border: none;
	color: white;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 8px;
	border: 1px solid lightgray;
  }
  
  .link-button:hover {
	border: 1px solid grey;
	background-color: whitesmoke;
  }
