body {
    font-family: verdana, arial, helvetica, sans-serif;
}

p, li, th, td, ol, ul, dl, a, blockquote, body { 
    color: black;
}

h1, h2, h3 {
	color: gray;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: #09c;
}
a:link { color: #09c;}
a:visited {color: #07a;}
a:hover { background-color: #eee;}

