{% include "_raw.html" %}

<div class="top-header">                        
    <a href="/">
        <img src="{{ url_for('static',filename='home.png') }}" 
        alt="Home" 
        style="width:20px;height:20x;">&nbsp;Home
    </a>&nbsp;
    <a href="/resources">Resources</a>&nbsp;&nbsp;
    <a href="/music">Music</a>&nbsp;&nbsp;
    <a href="/transcoder">Transcoder</a>&nbsp;&nbsp;            
    <a href="/backup">Backup</a>&nbsp;&nbsp;
    <a href="/system">System</a>&nbsp;&nbsp;
</div>        
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <p>
        {% for message in messages %}
            <div>
                <em>{{ message }}</em>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}      

{% block content %}{% endblock %}   
