{% extends 'base.html' %}

{% block content %}
    <h2>ApiList</h2>
    <p>
    {% for api in apiList %}
    <div>
        <b>{{ api.EndPoint }}</b>
    </div>
    <small>
    <table>
        <tr>
            <td align="right">Description:</td>
            <td><b>{{ api.Description }}</b></td>
        </tr>
        <tr>
            <td align="right">Example:</td>
            <td><b>{{ api.Example }}</b></td>
        </tr>        
    </table>
    </small>
    <p>
    {% endfor %} 
{% endblock %}