<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>{{ appTitle }}</title>
        {% if redirect %}
            <meta http-equiv="refresh" content="2;url=/" />
        {% endif %}
        <link 
            rel= "stylesheet" 
            type= "text/css" 
            href= "{{ url_for('static',filename='main.css') }}">    
        <link 
            rel="icon" 
            type="image/x-icon" 
            href="{{ url_for('static',filename='favicon.ico') }}">
        <script src="{{url_for('static', filename='main.js')}}"></script>        
    </head>
    <body>
        <div class="top-header">                        
            <a href="/">
                <img src="{{ url_for('static',filename='home.png') }}" 
                alt="Home" 
                style="width:20px;height:20x;">&nbsp;Home
            </a>&nbsp;
            <a href="/resources">Resources</a>&nbsp;&nbsp;           
            <a href="/transcoder">Transcoder</a>&nbsp;&nbsp;
            <a href="/backup">Backup</a>&nbsp;&nbsp;            
            <a href="/tasks">Tasks</a>&nbsp;&nbsp;
            <a href="/services">Services</a>&nbsp;&nbsp;
            <a href="/logs">Logs</a>
        </div>        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p>
                {% for message in messages %}
                    <div>
                        <em>{{ message }}</em>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}      
        
        {% block content %}{% endblock %}    
    </body>
</html>