<!doctype html>
<html>
    <header>
        <title>{{ appTitle }}</title>
        {% if redirect %}
            <meta http-equiv="refresh" content="2;url=/" />
        {% endif %}
        <link 
            rel= "stylesheet" 
            type= "text/css" 
            href= "{{ url_for('static',filename='main.css') }}">        
    </header>
    <body>
        <div>                        
            <a href="/"><img src="{{ url_for('static',filename='home.png') }}" alt="Home" style="width:20px;height:20x;"></a> | 
            <a href="/machine">Machine</a> | 
            <a href="/disks">Disks</a> | 
            <a href="/docker">Docker</a> | 
            <a href="/transcoder">Transcoder</a> | 
            <a href="/logs">Logs</a> | 
            <a href="/commands">Commands</a> |             
            <a href="/api-list">ApiList</a>
        </div>        
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div>
                        <i>{{ message }}</i>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}      
        
        {% block content %}{% endblock %}    
    </body>
</html>