<!doctype html>
<html>
    <header>
        <title>{{ appTitle }}</title>
        {% if redirect %}
            <meta http-equiv="refresh" content="8;url=/" />
        {% endif %}
    </header>
    <body>
        <div>            
            <a href="/">Home</a> | 
            <a href="/machine">Machine</a> | 
            <a href="/disks">Disks</a> | 
            <a href="/docker">Docker</a> | 
            <a href="/transcoder">Transcoder</a> | 
            <a href="/logs">Logs</a> | 
            <a href="/commands">Commands</a> |             
            <a href="/api-list">ApiList</a>
        </div>        
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}      
        
        {% block content %}{% endblock %}    
    </body>
</html>