{% extends 'base.html' %}

{% block content %}
<h2>Commands</h2>
<ul>
    <li>
        <a href="/commands/backup-server">BackupServer</a>
    </li>
    <li>
        {% if versionInfo.CanUpdate %}
            <a href="/commands/update-server">UpdateServer</a> 
        {% else %}
            UpdateServer
        {% endif %}
        <ul>
        <small>
            <li>CurrentVersion: <b>{{ versionInfo.CurrentVersion }}</b></li>
            <li>AvailableVersion: <b>{{ versionInfo.AvailableVersion }}</b></li>
            <li>UpdateBranchName: <b>{{ versionInfo.UpdateBranchName }}</b></li>
        </small>
        </ul>
    </li>
    <li>
        <a href="/commands/reboot-server">RebootServer</a>
    </li>    
    <li>
        <a href="/commands/halt-server">HaltServer</a>        
    </li>    
</ul>  
{% endblock %}