{% extends 'base.html' %}

{% block content %}
<h2>Commands</h2>
<h3>Server</h3>
<ul>
    <li>
        <a href="/commands/backup-server">Backup</a>
    </li>
    <li>
        {% if versionInfo.CanUpdate %}
            <a href="/commands/update-server">Update</a> 
        {% else %}
            UpdateServer
        {% endif %}
        <ul>
        <small>
            <li>CurrentVersion: <b>{{ versionInfo.CurrentVersion }}</b></li>
            <li>AvailableVersion: <b>{{ versionInfo.AvailableVersion }}</b></li>
            <li>UpdateBranchName: <b>{{ versionInfo.UpdateBranchName }}</b></li>
        </small>
        </ul>
    </li>
    <li>
        <a href="/commands/reboot-server">Reboot</a>
    </li>    
    <li>
        <a href="/commands/halt-server">Halt</a>        
    </li>    
</ul>
<h3>Docker</h3>
<ul>
    <li>
        <a href="/commands/kill-docker">KillDocker</a>
    </li>        
</ul>  
{% endblock %}