{% extends 'base.html' %}

{% block content %}
    <h2>Docker</h2>
    <p>
    {% for dockerContainer in dockerContainerList %}
    <div>
        {% if dockerContainer.IsActive %}
            &#10004;
            {{ dockerContainer.ContainerName }}
        {% else %}
            &#x2717; 
            <del>{{ dockerContainer.ContainerName }}</del>        
        {% endif %}        
    </div>
    {% endfor %} 
    <div>
        <p>
        <a href="/start-docker" class="link-button">StartDocker</a> <a href="/kill-docker" class="link-button">KillDocker</a>
    </div>        
{% endblock %}