{% extends 'base.html' %}

{% block content %}
    <h2>Docker</h2>
    <p>
    {% for dockerContainer in dockerContainerList %}
    <div>
        {% if dockerContainer.IsActive %}
            &#10004;
            {{ dockerContainer.ContainerName }}
        {% else %}
            &#x2717; 
            <del>{{ dockerContainer.ContainerName }}</del>        
        {% endif %}        
    </div>
    {% endfor %} 
    <div>
        <p>
        <small><a href="/start-docker">StartDocker</a></small>
        <small><a href="/kill-docker">KillDocker</a></small>
    </div>        
{% endblock %}