{% extends 'base.html' %}

{% block content %}
    <h2>Home
        <a href="https://github.com/markbaaijens/rpmusicserver#rp-music-server" target="_blank">
            <img src="{{ url_for('static',filename='help.png') }}" class="icon-help">
         </a>
    </h2>

    <div>
        <p>
        <a class="external-link" href="{{ machineInfo.HostUrl }}:9000" target="_blank">Lyrion Music Server</a>&nbsp;
        <a class="external-link" href="{{ machineInfo.HostUrl }}:9091" target="_blank">Transmission</a>&nbsp;
        <a class="external-link" href="{{ machineInfo.HostUrl }}:8384" target="_blank">SyncThing</a>&nbsp;
    </div>

    <table>
        <tr>
            <td>Hostname</td>
            <td><b>{{ machineInfo.HostName }}</b></td>
        </tr>
        <tr>
            <td>IP Address</td>
            <td><b>{{ machineInfo.IpAddress }}</b></td>
        </tr>
        <tr>
            <td>Pi Model</td>
            <td><b>{{ machineInfo.RpModel }}</b> | <b>{{ machineInfo.RpModelMemoryInGB }}</b></td>
        </tr>
        <tr>
            <td>OS</td>
            <td><b>{{ machineInfo.OsDescription }}</b> | <b>{{ machineInfo.OsBitType }}</b> | <b>{{ machineInfo.KernelVersion }}</b></td>
        </tr>        
        <tr>
            <td>Uptime</td>
            <td><b>{{ machineInfo.UpTime }}</b></td>
        </tr>
        <tr>
            <td>
                Power Health
            </td>
            <td><b>
                {% if isPowerHealthy %}
                    <span class="checkmark-y"> &#10004; </span>
                {% else %}
                    <span class="checkmark-n"> &#x2717; </span> 
                {% endif %}
                </b>
            </td>
        </tr>           
    </table>    

    <h3>Version
        <a href="https://github.com/markbaaijens/rpmusicserver#update-rpms" target="_blank">
            <img src="{{ url_for('static',filename='help.png') }}" class="icon-help">
         </a>
    </h3>
    <table>
        <tr>
            <td>Current</td>
            <td><b>{{ versionInfo.CurrentVersion }}</b></td>
        </tr>
        <tr>
            <td>Available</td>
            <td><b>{{ versionInfo.AvailableVersion }}</b>
                {% if versionInfo.IsVersionOverridden %}   
                    *
                {% endif %}             
            </td>
        </tr>
        <tr>
            <td>Updated</td>
            <td><b>{{ versionInfo.LastUpdateTimeStamp }}</b></td>
        </tr>
    </table> 
    {% if versionInfo.IsVersionOverridden %}
    <div><small>* overridden by update branch <b>{{ versionInfo.UpdateBranchName }}</b></small></div>
    {% endif %}             
    <p>
    {% if versionInfo.CanUpdate %}
        <a href="/ask-update-rpms" class="link-button">Update</a> 
    {% else %}
        <a class="link-button disabled">Update</a> 
    {% endif %}            
        
    <div class="indent">
        <p>
        <a href="/logs/update/20">Log</a>
    </div>               
{% endblock %}
