{% extends 'base.html' %}

{% block content %}
<h2>VersionInfo</h2>
<table>
    <tr>
        <td align="right">CurrentVersion:</td>
        <td><b>{{ versionInfo.CurrentVersion }}</b></td>
    </tr>
    <tr>
        <td align="right">AvailableVersion:</td>
        <td><b>{{ versionInfo.AvailableVersion }}</b></td>
    </tr>
    <tr>
        <td align="right">CanUpdate:</td>
        <td>
            <b>{{ versionInfo.CanUpdate }}</b>
            <small>
                {% if versionInfo.CanUpdate %}
                    <a href="/commands/update-server">UpdateServer</a> 
                {% else %}
                    UpdateServer
                {% endif %}            
            </small>            
        </td>
    </tr>
    <tr>
        <td align="right">UpdateBranchName:</td>
        <td><b>{{ versionInfo.UpdateBranchName }}</b></td>
    </tr>
    <tr>
        <td align="right">LastUpdateTimeStamp:</td>
        <td><b>{{ versionInfo.LastUpdateTimeStamp }}</b></td>
    </tr>
    <tr>
        <td align="right">VersionFile:</td>
        <td><b>{{ versionInfo.VersionFile }}</b></td>
    </tr>                
</table>  
<h2>ApiInfo</h2>
<table>
    <tr>
        <td align="right">ApiName:</td>
        <td><b>{{ apiInfo.ApiName }}</b></td>
    </tr>
    <tr>
        <td align="right">Documentation:</td>
        <td><b>{{ apiInfo.Documentation }}</b></td>
    </tr>
    <tr>
        <td align="right">ApiRootUrl:</td>
        <td><b>{{ apiRootUrl }}</b></td>
    </tr>                
</table>  
{% endblock %}