{% extends 'base.html' %}

{% block content %}
    <div class="sub-header">
        <small>
        <a class="external-link" href="http://rpms:9002" target="_blank">LogitechMediaServer</a>&nbsp;&nbsp;
        <a class="external-link" href="http://rpms:9091" target="_blank">Transmission</a>&nbsp;&nbsp;
        <a class="external-link" href="http://rpms:8384" target="_blank">SyncThing</a>&nbsp;&nbsp;        
        <a class="external-link" href="https://github.com/markbaaijens/rpmusicserver" target="_blank">GitHub</a> 
        </small>
    </div>
    <p>
    <h2>Machine</h2>
    <table>
        <tr>
            <td align="right">HostName</td>
            <td><b>{{ machineInfo.HostName }}</b></td>
        </tr>
        <tr>
            <td align="right">IpAddress</td>
            <td><b>{{ machineInfo.IpAddress }}</b></td>
        </tr>
        <tr>
            <td align="right">RpModel</td>
            <td><b>{{ machineInfo.RpModel }}</b> | <b>{{ machineInfo.RpModelMemoryInGB }}</b></td>
        </tr>
        <tr>
            <td align="right">CpuTemp</td>
            <td><b>{{ machineInfo.CpuTemp }}</b></td>
        </tr>
        <tr>
            <td align="right">OS</td>
            <td><b>{{ machineInfo.OsDescription }}</b> | <b>{{ machineInfo.OsBitType }}</b></td>
        </tr>        
        <tr>
            <td align="right">UpTime</td>
            <td><b>{{ machineInfo.UpTime }}</b></td>
        </tr>
    </table>    

    <h2>Version</h2>
    <table>
        <tr>
            <td align="right">CurrentVersion</td>
            <td><b>{{ versionInfo.CurrentVersion }}</b></td>
        </tr>
        <tr>
            <td align="right">AvailableVersion</td>
            <td><b>{{ versionInfo.AvailableVersion }}</b></td>
        </tr>
        <tr>
            <td align="right">LastUpdate</td>
            <td><b>{{ versionInfo.LastUpdateTimeStamp }}</b></td>
        </tr>
        <tr>
            <td align="right">VersionFile</td>
            <td><a class="external-link" href="http://rpms:5000/api/GetVersionList" target="_blank">{{ versionInfo.VersionFile }}</a></td>
        </tr>                
        <tr>
            <td align="right">UpdateBranch</td>
            <td>
                <b>{{ versionInfo.UpdateBranchName }}</b>
            </td>
        </tr>
        <tr>
            <td align="right">IsVersionOverridden</td>
            <td>
                {% if versionInfo.IsVersionOverridden %}
                    <span class="checkmark-y"> &#10004; </span>
                {% else %}
                    <span class="checkmark-n"> &#x2717; </span> 
                {% endif %}
            </td>
        </tr>
        <tr>
            <td align="right">CanUpdate</td>
            <td>
                {% if versionInfo.CanUpdate %}
                    <span class="checkmark-y"> &#10004; </span>
                {% else %}
                    <span class="checkmark-n"> &#x2717; </span> 
                {% endif %}
            </td>
        </tr>            
    </table>  
    <p>
    {% if versionInfo.CanUpdate %}
        <a href="/update-server" class="link-button">UpdateServer</a> 
    {% else %}
        <a class="link-button disabled">UpdateServer</a> 
    {% endif %}            
        
    </table>  
{% endblock %}
