{% extends '_base_no_refresh.html' %}

{% block content %}
    <h2>Configure LocalPlayer</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        <table>
            <td>
                {% for subfield in form.localPlayerDeviceName %}
                    {{ subfield }} {{ subfield.label }}<br><br>
                {% endfor %}
                {% for error in form.localPlayerDeviceName.errors %}
                    <br><small><span style="color: red;">[{{ error }}]</span></small>
                {% endfor %}
            </td>
        </table>
        <div><em>
            Warning. Be sure to switch off the LMS LocalPlayer-plugin, otherwise the LocalPlayer from RPMS will not work.
        </em></div>        

        <p>{{ form.submit() }} {{ form.cancel() }}</p>
    </form>
{% endblock %}