{% extends 'base.html' %}

{% block content %}
<h2>Logs</h2>
<ul>
    <li>
        ApiLog
        <a href="/logs/api/0">0</a>        
        <a href="/logs/api/20">20</a>
        <a href="/logs/api/50">50</a>
        <a href="/logs/api/100">100</a>
    </li>
    <li>
        BackupLog
        <a href="/logs/backup/0">0</a>        
        <a href="/logs/backup/20">20</a>
        <a href="/logs/backup/50">50</a>
        <a href="/logs/backup/100">100</a>
    </li>
    <li>
        BackupDetailsLog
        <a href="/logs/backup-details/0">0</a>        
        <a href="/logs/backup-details/20">20</a>
        <a href="/logs/backup-details/50">50</a>
        <a href="/logs/backup-details/100">100</a>
    </li>    
    <li>
        TranscoderLog
        <a href="/logs/transcoder/0">0</a>        
        <a href="/logs/transcoder/20">20</a>
        <a href="/logs/transcoder/50">50</a>
        <a href="/logs/transcoder/100">100</a>                
    </li>
    <li>
        UpdateLog
        <a href="/logs/update/0">0</a>        
        <a href="/logs/update/20">20</a>
        <a href="/logs/update/50">50</a>
        <a href="/logs/update/100">100</a>
    </li>
</ul>  
{% endblock %}