    {% extends '_base.html' %}

{% block content %}
    <h2>Logs</h2>
    <div class="indent">
        <a href="/logs/transcoder/20">Transcoder</a>
    </div>
    <div class="indent">
        <a href="/logs/update/20">Update</a>
    </div>
    <div class="indent">
        <a href="/logs/api/20">Api</a>
    </div>    
    <div class="indent">
        <a href="/logs/web/20">Web</a>
    </div>        

    <h3>Backup</h3>
    <div class="indent">
        <a href="/logs/backup/20">Backup</a>
    </div>
    <div class="indent">
        <a href="/logs/backup-details/20">Details</a>
    </div>    
{% endblock %}
