{% extends 'base.html' %}

{% block content %}
    <h2>MachineInfo</h2>
    <table>
        <tr>
            <td align="right">HostName:</td>
            <td><b>{{ machineInfo.HostName }}</b></td>
        </tr>
        <tr>
            <td align="right">IpAddress:</td>
            <td><b>{{ machineInfo.IpAddress }}</b></td>
        </tr>
        <tr>
            <td align="right">RpModel:</td>
            <td><b>{{ machineInfo.RpModel }}</b></td>
        </tr>
        <tr>
            <td align="right">CpuTemp:</td>
            <td><b>{{ machineInfo.CpuTemp }}</b></td>
        </tr>
        <tr>
            <td align="right">OsCodeName:</td>
            <td><b>{{ machineInfo.OsCodeName }}</b></td>
        </tr>        
    </table>    
    <h2>ResourceInfo</h2>
    <table>
        <tr>
            <td align="right">UpTime:</td>
            <td><b>{{ resourceInfo.UpTime }}</b></td>
        </tr>
        <tr>
            <td align="right">MemTotal:</td>
            <td><b>{{ resourceInfo.MemTotal }}</b></td>
        </tr>
        <tr>
            <td align="right">MemUsed:</td>
            <td><b>{{ resourceInfo.MemUsed }}</b></td>
        </tr>
        <tr>
            <td align="right">MemUsedPercentage:</td>
            <td><b>{{ resourceInfo.MemUsedPercentage }}</b></td>
        </tr>
        <tr>
            <td align="right">SwapTotal:</td>
            <td><b>{{ resourceInfo.SwapTotal }}</b></td>
        </tr>
        <tr>
            <td align="right">SwapUsed:</td>
            <td><b>{{ resourceInfo.SwapUsed }}</b></td>
        </tr>        
        <tr>
            <td align="right">SwapUsedPercentage:</td>
            <td><b>{{ resourceInfo.SwapUsedPercentage }}</b></td>
        </tr>                
        <tr>
            <td align="right">OverageLoad1:</td>
            <td><b>{{ resourceInfo.OverageLoad1 }}</b></td>
        </tr>
        <tr>
            <td align="right">OverageLoad5:</td>
            <td><b>{{ resourceInfo.OverageLoad5 }}</b></td>
        </tr>        
        <tr>
            <td align="right">OverageLoad15:</td>
            <td><b>{{ resourceInfo.OverageLoad15 }}</b></td>
        </tr>                        
    </table>        
{% endblock %}