{% extends 'base.html' %}

{% block content %}
    <h2>Resources</h2>
    <table>
        <tr>
            <td align="right">MemTotal</td>
            <td><b>{{ resourceInfo.MemTotal }}</b></td>
        </tr>
        <tr>
            <td align="right">MemUsed</td>
            <td>
                <b>{{ resourceInfo.MemUsed }}</b>
                <small>{{ resourceInfo.MemUsedPercentage }}%</small>
            </td>
        </tr>
        <tr>
            <td align="right">SwapTotal</td>
            <td><b>{{ resourceInfo.SwapTotal }}</b></td>
        </tr>
        <tr>
            <td align="right">SwapUsed</td>
            <td>
                <b>{{ resourceInfo.SwapUsed }}</b>
                <small>{{ resourceInfo.SwapUsedPercentage }}%</small>                
            </td>
        </tr>        
        <tr>
            <td align="right">
                <abbr title="overload in 1, 5 and 15 minutes">OverageLoad</abbr>
            </td>
            <td><b>{{ resourceInfo.OverageLoad1 }} {{ resourceInfo.OverageLoad5 }} {{ resourceInfo.OverageLoad15 }}</b></td>
        </tr>
    </table>        
{% endblock %}