{% extends 'base.html' %}

{% block content %}
<button type="button" class="collapsible">Resources<img style="vertical-align:middle" src="/static/help.svg"></button>
<div class="content">
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
</div>
<table>
    <tr>
        <td>Memory</td>
        <td>
            <meter 
                id="memory" 
                value="{{ memoryInfo.MemUsedPercentage }}" 
                min="0" 
                max="100"
                high="80">
            </meter>
            <span class="small">
                <label for="memory">
                    <small>
                        <b>{{ memoryInfo.MemUsed }}</b> {{ memoryInfo.MemUsedPercentage }}% used of <b>{{ memoryInfo.MemTotal }}</b>
                    </small>
                </label>
            </span>
        </td>
    </tr>
    <tr>
        <td>Swap</td>
        <td>
            <meter 
                id="swap" 
                value="{{ memoryInfo.SwapUsedPercentage }}" 
                min="0" 
                max="100"
                high="80">
            </meter>
            </br />
            <span class="small">
                <label for="swap">
                    <small>
                        <b>{{ memoryInfo.SwapUsed }}</b> {{ memoryInfo.SwapUsedPercentage }}% used of <b>{{ memoryInfo.SwapTotal }}</b>
                    </small>
                </label>
            </span>
        </td>
    </tr>
    <tr>
        <td>Cpu Load</td>
        <td>
            <meter 
                id="avload" 
                value="{{ cpuInfo.CpuLoad1 }}" 
                min="0" 
                max="10"
                high="8">
            </meter>
            </br />
            <span class="small">
                <label for="avload">
                    <small>
                        <b>{{ cpuInfo.CpuLoad1 }}</b>&nbsp;
                        <b>{{ cpuInfo.CpuLoad5 }}</b>&nbsp;
                        <b>{{ cpuInfo.CpuLoad15 }}</b>&nbsp;(1, 5, 15 min) 
                    </small>
                </label>
            </span>
        </td>
    </tr>
    <tr>
        <td>Cpu Temp</td>
        <td>
            <meter 
                id="swap" 
                value="{{ cpuInfo.CpuTemp }}" 
                min="0" 
                max="100"
                high="80">
            </meter> 
        </br />
        <span class="small">
            <label for="avload">
                <small>
                    <b>{{ cpuInfo.CpuTemp }} &deg;C</b>
                </small>
            </label>
        </span>           
        </td>
    </tr>
</table>
<h3>Disks</h3>
<p>
    {% for disk in diskList %}
    <div>
        <b>
            {% if '/' in disk.DiskName %}
                system
            {% else %}
                {{ disk.DiskName }}
            {% endif %}
        </b>
    </div>
    <table>
        {% if disk.IsOnline %}
        <tr>
            <td>Size</td>
            <td>
                <meter 
                    id="size" 
                    value="{{ disk.UsedPercentage }}" 
                    min="0" 
                    max="100"
                    high="80">
                </meter>
                <span class="small">
                    <label for="size">
                        <small>
                            <b>{{ disk.Used }}</b> {{ disk.UsedPercentage }}% used of <b>{{ disk.Size }}</b>
                        </small>
                    </label>
                </span>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>Online?</td>
            <td>
                <span class="checkmark-n"> &#x2717; </span>
            </td>
        </tr>    
        {% endif %}
    </table>
    <p>
    {% endfor %}

{% endblock %}