{% extends 'base.html' %}

{% block content %}
    <hr/>
    <h2>Docker</h2>
    <p>
    {% for dockerContainer in dockerContainerList %}
    <div>
        {% if dockerContainer.IsActive %}
            <span class="checkmark-y"> &#10004; </span>
            {{ dockerContainer.ContainerName }}
        {% else %}
            <span class="checkmark-n"> &#x2717; </span>
            {{ dockerContainer.ContainerName }}        
        {% endif %}        
    </div>
    {% endfor %} 
    <div>
        <p>
        <a href="/start-docker" class="link-button">StartDocker</a> <a href="/kill-docker" class="link-button">KillDocker</a>
    </div>        
    <hr/>
    <h2>Services</h2>
    <p>
    {% for service in serviceList %}
    <div>
        {% if service.IsActive %}
            <span class="checkmark-y"> &#10004; </span>
            {{ service.PortNumber }} {{ service.ServiceName }}
        {% else %}
            <span class="checkmark-n"> &#x2717; </span>
            {{ service.PortNumber }} {{ service.ServiceName }}        
        {% endif %}        
    </div>
    {% endfor %} 
    <p>
    <div><em>Services may take a few moments to become visible to the outside.</em></div>
    <div><em>Use <code>watch nmap rpms</code> on your client for a correct result.</em></div>            
{% endblock %}
