{% extends 'base.html' %}

{% block content %}
    <h2>System</h2>

    <h3>Server</h3>
    <div>
        <a href="/ask-reboot-server" class="link-button">Reboot</a>
        <a href="/ask-halt-server" class="link-button">Halt</a>          
    </div>

    <h3>Port Status</h3>
    <table>
        {% for portStatus in portStatusList %}
            <tr>
                <td>
                    {% if portStatus.IsActive %}
                        <span class="checkmark-y"> &#10004; </span>
                    {% else %}
                        <span class="checkmark-n"> &#x2717; </span>
                    {% endif %}        
                </td>
                <td>
                    {{ portStatus.PortNumber }}
                </td>
                <td>
                    <b>{{ portStatus.ServiceName }}</b>
                    <small>{{ portStatus.ServiceType }}</small>
                </td>
            </tr>
        {% endfor %} 
    </table>
    <p>
    <div><em>Ports may take a few moments to become visible to the outside.</em></div>
    <div><em>Use <code>watch nmap rpms</code> on your client for a correct result.</em></div>  

    <h3>Docker</h3>
    <table>
        {% for dockerContainer in dockerContainerList %}
            <tr>
                <td>
                    {% if dockerContainer.IsActive %}
                        <span class="checkmark-y"> &#10004; </span>
                    {% else %}
                        <span class="checkmark-n"> &#x2717; </span>
                    {% endif %}        
                </td>
                <td>
                    <b>{{ dockerContainer.ContainerName }}</b>
                </td>
            </tr>
        {% endfor %} 
    </table>

    <div>
        <p>
        <a href="/ask-start-docker" class="link-button">Start</a> 
        <a href="/ask-kill-docker" class="link-button">Kill</a>
        <a href="/ask-update-docker" class="link-button">Update</a>        
    </div> 

    <h3>Translations</h3>
    <table>
        <tr>
            <td>Public Share</td>
            <td><b>{{ translationList.PublicShareName }}</b></td>            
        </tr>
        <tr>
            <td>Music Share</td>            
            <td><b>{{ translationList.MusicShareName }}</b></td>
        </tr>
        <tr>
            <td>Backup Share</td>            
            <td><b>{{ translationList.BackupShareName }}</b></td>                        
        </tr>                
    </table>    
    <div>
        <p>
        <a href="/translations-edit" class="link-button">
            <img src="{{ url_for('static',filename='edit.png') }}" alt="Home" style="width:15px;height:15x;">
            Edit
        </a>
    </div>

    <h3>Api</h3>
    <table>
        <tr>
            <td>Documentation</td>
            <td>
                <b>
                <a class="external-link" href="{{ machineInfo.HostUrl }}:5000/api/GetApiList" target="_blank">{{ apiInfo.Documentation }}</a>
                </b>
            </td>
        </tr>
        <tr>
            <td>Url</td>
            <td><b>{{ apiRootUrl }}</b></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><b>{{ apiInfo.ApiName }}</b></td>
        </tr>                
    </table>  

{% endblock %}
