{% extends 'base.html' %}

{% block content %}
    <h2>Tasks</h2>
    <h3>Server</h3>
    <div>
        <a href="/reboot-server" class="link-button">Reboot</a>
        <a href="/halt-server" class="link-button">Halt</a>          
    </div>
    <h3>Collection</h3>   
    <table>
        <tr>
            <td>Artists</td>
            <td><b>{{ lmsServerStatus['info total artists'] }}</b></td>
        </tr>
        <tr>
            <td>Albums</td>
            <td><b>{{ lmsServerStatus['info total albums'] }}</b></td>
        </tr>
        <tr>
            <td>Songs</td>
            <td><b>{{ lmsServerStatus['info total songs'] }}</b></td>
        </tr>                
        <tr>
            <td>Genres</td>
            <td><b>{{ lmsServerStatus['info total genres'] }}</b></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>Export Folder</td>
            <td><b>{{ musicCollectionInfo.CollectionFolderFunctional }}</b></td>
        </tr>
        <tr>
            <td>Last Export</td>
            <td><b>{{ musicCollectionInfo.LastExport }}</b></td>
        </tr>
    </table> 
    <br>
    <a href="/ask-export-collection" class="link-button">Export</a>    

{% endblock %}