{% extends 'base.html' %}

{% block content %}
    <h2>Tasks</h2>
    <h3>Server</h3>
    <div class="indent">
        <a href="/backup-server">Backup</a>
    </div>
    <div class="indent">
        {% if versionInfo.CanUpdate %}
            <a href="/update-server">Update</a> 
        {% else %}
            Update
        {% endif %}
        <small>
            <abbr title="CurrentVersion {{ versionInfo.CurrentVersion }} AvailableVersion {{ versionInfo.AvailableVersion }} UpdateBranchName {{ versionInfo.UpdateBranchName }} VersionOverride {{ versionInfo.DevelopmentVersionOverride }}">
                CanUpdate
            </abbr>
            <b>
                {% if versionInfo.CanUpdate %}
                    &#10004;
                {% else %}
                    &#x2717; 
                {% endif %}
            </b>        
        </small>
    </div>
    <div class="indent">
        <a href="/reboot-server">Reboot</a>
    </div>    
    <div class="indent">
        <a href="/halt-server">Halt</a>        
    </div>    

    <h3>Docker</h3>
    <div class="indent">
        <a href="/start-docker">StartDocker</a>
        <a href="/kill-docker">KillDocker</a>
    </div>  
{% endblock %}