{% extends 'base.html' %}

{% block content %}
    <h2>Tasks</h2>
    <h3>Server</h3>
    <a href="/backup-server" class="link-button">Backup</a>
    <a href="/reboot-server" class="link-button">Reboot</a>
    <a href="/halt-server" class="link-button">Halt</a>          
    {% if versionInfo.CanUpdate %}
        <a href="/update-server" class="link-button">Update</a> 
    {% else %}
        Update
    {% endif %}
    <small>
        <abbr title="CurrentVersion {{ versionInfo.CurrentVersion }} AvailableVersion {{ versionInfo.AvailableVersion }} UpdateBranchName {{ versionInfo.UpdateBranchName }} VersionOverride {{ versionInfo.DevelopmentVersionOverride }}">
            CanUpdate
        </abbr>
        <b>
            {% if versionInfo.CanUpdate %}
                &#10004;
            {% else %}
                &#x2717; 
            {% endif %}
        </b>        
    </small>

    <h3>Docker</h3>
    <a href="/start-docker" class="link-button">StartDocker</a>       
    <a href="/kill-docker" class="link-button">KillDocker</a>

{% endblock %}