{% extends 'base.html' %}

{% block content %}
    <h2>Transcoder
        <a href="https://github.com/markbaaijens/rpmusicserver#transcoder" target="_blank">
            <img src="{{ url_for('static',filename='help.png') }}" class="icon-help">
         </a>
    </h2>
    <table>
        <tr>
            <td>
                Transcoder Status
            </td>
            <td><b>
                {% if transcoderInfo.IsActivated %}
                    {% if transcoderInfo.LastTranscode %}
                        {% if transcoderInfo.IsLastTranscodeSuccesFul %}
                            <span class="checkmark-y">Activated</span>
                        {% else %}                            
                            <span class="checkmark-n">Error(s) in last transcode</span>                        
                        {% endif %}                            
                    {% else %}
                        <span class="checkmark-y">Activated, no transcode (yet)</span>                    
                    {% endif %}
                {% else %}
                    <span class="checkmark-n">Not activated</span> 
                {% endif %}
                </b>
            </td>
        </tr>                           
        <tr>
            <td>
                Last Transcode
            </td>
            <td>
                <b>{{ transcoderInfo.LastTranscode }}</b>
            </td>
        </tr>         
    </table>
    <br>
    <div>
        {% if transcoderInfo.IsActivated %}
            <a href="/ask-transcode" class="link-button">Transcode</a>  
        {% else %}
            <a class="link-button disabled">Transcode</a> 
        {% endif %}          
    </div> 
    <table>
        <tr>
            <td>Source Folder</td>
            <td>
                {% if transcoderInfo.SettingSourceFolderShort %}
                    <small>{{ transcoderInfo.DefaultCollectionFolderFunctional }}/</small>
                    <b>{{ transcoderInfo.SettingSourceFolderShort }}</b>
                {% endif %}
            </td>
        </tr>
        <h3>Settings</h3>     
        <tr>
            <td>Ogg Folder</td>
            <td>
                {% if transcoderInfo.SettingOggFolderShort %}
                    <small>{{ transcoderInfo.DefaultCollectionFolderFunctional }}/</small>
                    <b>{{ transcoderInfo.SettingOggFolderShort }}</b> |
                    Quality
                    {% if transcoderInfo.SettingOggQuality == 0 %}
                        <b>1</b>
                    {% else %}
                        <b>{{ transcoderInfo.SettingOggQuality }}</b>
                    {% endif %}                    
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Mp3 Folder</td>
            <td>
                {% if transcoderInfo.SettingMp3FolderShort %}                
                    <small>{{ transcoderInfo.DefaultCollectionFolderFunctional }}/</small>
                    <b>{{ transcoderInfo.SettingMp3FolderShort }}</b>  |
                    Bitrate
                    {% if transcoderInfo.SettingMp3Bitrate == 0 %}
                        <b>128</b>
                    {% else %}
                        <b>{{ transcoderInfo.SettingMp3Bitrate }}</b>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>  
    <p>
    <div>
        <a href="/transcoder/edit" class="link-button">
            <img src="{{ url_for('static',filename='edit.png') }}" alt="Home" style="width:15px;height:15x;">
            Edit
        </a>
    </div>

    <div class="indent">
        <p>
        <a href="/logs/transcoder/20">Log</a>
    </div>           

    {% endblock %}