{% extends 'base.html' %}

{% block content %}
    <h2>EditTranscoder</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        <table>
            <tr>
                <td align="left">
                    <abbr title="Required for transcoding, point to the lossles-folder">
                        {{ form.sourceFolder.label }}
                    </abbr>
                </td>
                <td>
                    <small>{{ musicFolder }}</small>
                    {{ form.sourceFolder(size=10)}}
                    {% for error in form.sourceFolder.errors %}
                        <br><small><em>[{{ error }}]</em></small>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td left="right">
                    <abbr title="Either OggFolder of Mp3Folder must be given for transcoding">
                        {{ form.oggFolder.label }}
                    </abbr>
                </td>
                <td>
                    <small>{{ musicFolder }}</small>                    
                    {{ form.oggFolder(size=10)}}
                    {% for error in form.oggFolder.errors %}
                        <br><small><em>[{{ error }}]</em></small>
                    {% endfor %}
                </td>
            </tr>            
            <tr>
                <td align="left">
                    <abbr title="Value must be between 0 and 5; leave as 0 to obtain the default = 1">
                        {{ form.oggQuality.label }}
                    </abbr>
                </td>
                <td>
                    {{ form.oggQuality(size=5) }}
                    {% for error in form.oggQuality.errors %}
                        <br><small><em>[{{ error }}]</em></small>
                    {% endfor %}
                </td>                
            </tr>
            <tr>
                <td align="left">
                    <abbr title="Either OggFolder of Mp3Folder must be given for transcoding">
                        {{ form.mp3Folder.label }}
                    </abbr>
                </td>
                <td>
                    <small>{{ musicFolder }}</small>                    
                    {{ form.mp3Folder(size=10)}}
                    {% for error in form.mp3Folder.errors %}
                        <br><em>[{{ error }}]</em></small>
                    {% endfor %}
                </td>
            </tr>                        
            <tr>
                <td align="left">
                    <abbr title="Value must be either 0, 128, 256 or 384; leave as 0 to obtain the default = 128">
                        {{ form.mp3Bitrate.label }}
                    </abbr>
                </td>
                <td>
                    {{ form.mp3Bitrate(size=5) }}
                    {% for error in form.mp3Bitrate.errors %}
                        <br><small><span style="color: red;">[{{ error }}]</span></small>
                    {% endfor %}
                </td>
            </tr>                                    
        </table>
        <p>{{ form.submit() }} {{ form.cancel() }}</p>
    </form>
{% endblock %}