{% extends 'base.html' %}

{% block content %}
    <h2>Edit Transcoder Settings</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        <table>
            <tr>
                <td>
                    {{ form.sourceFolder.label }}
                </td>
                <td>
                    {{ form.sourceFolder(size=10)}}
                    *
                    {% for error in form.sourceFolder.errors %}
                        <br><small><em>[{{ error }}]</em></small>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.oggFolder.label }}
                </td>
                <td>
                    {{ form.oggFolder(size=10)}}
                    *
                    {% for error in form.oggFolder.errors %}
                        <br><small><em>[{{ error }}]</em></small>
                    {% endfor %}
                </td>
            </tr>            
            <tr>
                <td>
                    {{ form.oggQuality.label }}
                </td>
                <td>
                    {% for subfield in form.oggQuality %}
                        {{ subfield }}
                        {{ subfield.label }}
                    {% endfor %}
                    {% for error in form.oggQuality.errors %}
                        <br><small><em>[{{ error }}]</em></small>
                    {% endfor %}
                </td>                
            </tr>
            <tr>
                <td>
                        {{ form.mp3Folder.label }}
                </td>
                <td>
                    {{ form.mp3Folder(size=10)}}
                    *
                    {% for error in form.mp3Folder.errors %}
                        <br><em>[{{ error }}]</em></small>
                    {% endfor %}
                </td>
            </tr>   
            <tr>
                <td>
                    {{ form.mp3Bitrate.label }}
                </td>
                <td>
                    {% for subfield in form.mp3Bitrate %}
                        {{ subfield }}
                        {{ subfield.label }}
                    {% endfor %}
                    {% for error in form.mp3Bitrate.errors %}
                        <br><small><span style="color: red;">[{{ error }}]</span></small>
                    {% endfor %}
                </td>
            </tr>   
        </table>
        <div><small>* Folders are relative to {{ musicFolder }}</small></div>
        <br>
        {{ form.resetToDefaults()}} {{ form.resetToDefaults.label}}

        <p>{{ form.submit() }} {{ form.cancel() }}</p>
    </form>
{% endblock %}